header {
    position: fixed;
    width: 100%;
    height: auto;
    display: inline-block;
    z-index: 10;
    background-color: white;
    text-align: center;
}

header li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

body {
    width: 100%;
    margin: 0 auto;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.badan {
    position: relative;
    width: 100%;
    height: 900px;
    background: url(img/sample-pattern.png);
    text-align: center;
    display: inline-block;
    margin-top: 100px;
}

.produk {
    display: inline-block;
    text-align: left;
    padding: 30px;
    position: relative;
    /* background: url(project1/img/6553562.jpg); */
    background-position: center;
}

.kotak{
    display: grid;
    background: url(project1/img/sample-pattern.png);
    grid-gap: 10px;
    padding: 65px;
}

.mix{
    padding: 25px;
    background-color: rgb(255, 255, 255, 0.5);
    /* border: solid 1px grey; */
    /* text-align: center; */
    border-radius: 10px;
}

.kotak-radio{
    display: flex;
    flex-direction: row;
}

.radio{
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    /* background-color: green; */
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-size: 21px;
}

.radio-red{
    background-color: red;
}

.radio-blue{
    background-color: blue;
}

.radio-white{
    background-color: grey;
}

.grid-1{
    grid-column: 1;
    grid-row: 1 / span 3;
    height: 620px;
}

.grid-2{
    grid-column: 2;
    grid-row: 1;
}

.grid-3{
    grid-column: 2;
    grid-row: 2;
}

.grid-4{
    grid-column: 2;
    grid-row: 3;
}

.motor1{
    align-content: center;
    height: 500px;
}

h1{
    text-align: center;
}

h1,h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align: justify;
    text-indent: 50px;
    font-size: 21px;
}

.submit{
    color: rgb(255, 255, 255);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: bold;
    background-color: rgb(51, 170, 27);
    /* border-color: black;     */
    /* border-bottom-color: aliceblue;
    border-right-color: aliceblue;  */
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}

.submit:hover{
    background-color: rgb(0, 112, 15);
}

.qty-label{
    text-align: left;
}

#qty{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.choose{
    font-family: 'Times New Roman', Times, serif;
}

#footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    position: relative;
    height: auto;
  }