body {
    width: 100%;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    display: inline-block;
    z-index: 10;
    background-color: white;
    text-align: center;
}

header li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.gambar h1 {
    display: none;
}

.badan {
    position: relative;
    width: 100%;
    height: 2000px;
    background: url(img/sample-pattern.png);
    text-align: center;
    display: inline-block;
}

#container {
    background-color: white;
    width: 70%;
    display: inline-block;
    position: relative;
    height: 1000px;
}

#welcome {
    background: url(img/Forests-bridges-natural-scenery-hd-wallpaper-backgrounds-1920x1080.jpg);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 540px;
    margin-top: 100px;
    display: inline-block;
}

#welcome h1 {
    margin-top: 220px;
    color: white;
}

#welcome h5 {
    color: white;
}

#produk {
    width: 70%;
    display: inline-block;
    background-color: white;
    text-align: left;
    padding: 30px;
}