body {
    width: 100%;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    display: inline-block;
    z-index: 10;
    background-color: white;
    text-align: center;
}

header li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.badan {
    position: relative;
    width: 100%;
    height: auto;
    background: url(img/sample-pattern.png);
    text-align: center;
    display: inline-block;
}

#container {
    background-color: white;
    width: 70%;
    display: inline-block;
    position: relative;
    height: 1000px;
}

#welcome {
    background: url(img/Forests-bridges-natural-scenery-hd-wallpaper-backgrounds-1920x1080.jpg);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 540px;
    margin-top: 100px;
    display: inline-block;
}

#welcome h1 {
    margin-top: 220px;
    color: white;
}

#welcome h5 {
    color: white;
}

#produk {
    display: inline-block;
    text-align: center;
    position: relative;
    background: url(img/6553562.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 540px;
    width: 100%;
}

#produk h1 {
    margin-top: 250px;
    color: white;
}

#servis {
    display: inline-block;
    text-align: center;
    position: relative;
    background: url(img/rsz_1rsz_1images.jpg);
    background-attachment: fixed;
    height: 540px;
    width: 100%;
}

#servis h1 {
    margin-top: 300px;
    color: white;
}

#servis h4 {
    color: white;
}

#footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    position: relative;
    height: auto;
}